input{
    margin-left: 10px;
    border-radius: 6px;
    height: 24px;
    background-color:orange;
    color: white
}

button{
    background-color: orangered;
    width: 50px;
    height: 24px;
    border-radius: 10px;
    color: white
}
span{
    color:darkgreen
}

body{
    background-image: url(../images/colorful-nice-wallpapers.jpg);
    background-repeat: no-repeat;
    
}