*{margin: 0;
padding: 0}


#war{
    width: 500px;
    height: 100px;
    background-color: darkkhaki;
margin: 20px auto;

font-family: sans-serif}

#inp1, #inp2, label{
  margin-top:10px
}


hr{
    margin-top: 10px
}

h4{
    margin: 10px;
    padding-top: 10px
}